img {
    width: 40px;

}

.specialty__element {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    gap: 16px;
    -webkit-box-shadow: -7px -1px 58px -32px rgba(0,0,0,0.53);
    -moz-box-shadow: -7px -1px 58px -32px rgba(0,0,0,0.53);
    box-shadow: -7px -1px 58px -32px rgba(0,0,0,0.53);
    width: 350px;
    height: 150px;
    box-sizing: border-box;
}

.specialty__icon {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: bisque;
    border-radius: 50px;
    padding: 6px;
}

.specialty__title {
    margin: 0;
}