img {
    width: 40px;

}

.specialty__element {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    gap: 16px;
    -webkit-box-shadow: 2px 0px 61px -16px rgba(232, 183, 232, 1);
    -moz-box-shadow: 2px 0px 61px -16px rgba(232, 183, 232, 1);
    box-shadow: 2px 0px 61px -16px rgba(232, 183, 232, 1);
    width: 350px;
    height: 150px;
    box-sizing: border-box;
}

.specialty__icon {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 6px;
}

.specialty__title {
    margin: 0;
}