@import url('../../assets/styles/style.css');

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}
.about__img {
    background-image: url('../../assets/img/andreaProfile-removebg-preview.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: rgb(244, 219, 250);
    border-radius: 50%;
    mix-blend-mode: color-burn;
    height: 150px;
    width: 150px;
}
.about__title {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    text-align: center;
}
.about__text{
    line-height: 1.5;
    font-family: var(--text-font);
}
@media screen and (min-width:600px) {
    .about__container {
        flex-direction: row;
        justify-content: space-between;
    }
    .about__content {
        width: 500px;
    }
}
@media screen and (min-width:1040px) {
    .about__container {
        justify-content: space-evenly;
        max-width: 1040px;
        margin: 32px auto;
    }
    .about__img {
        width: 250px;
        height: 250px;
    }
    .about__content {
        width: 60%;
    }
}