@import url('../../../assets/styles/style.css');
.treatment{
    background-color:var(--primary-color);
    width: 300px;
    border-left: 1px solid var( --principal-color-font);;
    border-bottom: 1px solid var( --principal-color-font);;
    border-radius: 12px;
    padding-left: 8px;
    color:white;
    transition: 1s;
}
.treatment:hover{
    transform: scale(1.1);
}
.treatment__title{
    font-weight: 300;
    font-size: 1rem;
}
@media screen and (min-width:1040px) {

    .treatment{
        width: 300px;
        height: 100px;
    }
    .treatment__title{
        font-size: 1.5rem;
    }

    
}