@import url('../../../assets/styles/style.css');
.treatment{
    background-color:var(--primary-color);
    height: 120px;
    width: 300px;
    border-left: 1px solid var( --principal-color-font);;
    border-bottom: 1px solid var( --principal-color-font);;
    border-radius: 12px;
    padding-left: 8px;
    color:rgb(44, 44, 44);
    transition: 1s;
}
.treatment:hover{
    transform: scale(1.1);
}
.treatment__title{
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
}
.treatment__title h2{
    text-align: center;
}
.treatment__text p{
    margin:0;
}
@media screen and (min-width:1040px) {
    .treatment__title{
        font-size: 1.5rem;
    }

    
}