.specialties__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.specialties__title {
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

@media screen and (min-width:1040px) {
    .specialties__title {
        font-size: 2rem;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
        max-width: 1040px;
    }
}