@import url('../../assets/styles/style.css');
.specialties__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 30px
}

.specialties__title {
    text-align: center;
    font-family:var(--title-font) ;
    font-size: 3rem;
}

.content {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 16px;

}

@media screen and (min-width:1040px) {
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
        
        flex-direction: row;

    }
}