@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
    --primary-color: rgb(244, 219, 250);
    --secundary-color: #BBBF36;


    --principal-color-font: #F29D35;
    --secundary-color-font: #F25C05;


    --title-font:    'Dancing Script', 'cursive';


}

@media screen and (min-width:1040px) {

    h1,
    h2 {
        font-family: var(--title-font);
        font-size: 3rem;
        margin: 0;
    }

    p {
        font-size: 1rem;
    }
}